table{
	width:200px%
}
body {
	background-color: rgba(10, 20, 40, 1.0);
}
table{
	background-color: white;
}
.container {
	background-color: rgba(10, 20, 40, 1.0);
	text-align: left;
    font-family: "helvetica";
    color: black;
}
.jumbotron{
	background-color: rgba(10, 20, 40, 1.0);
	text-align: center;
	color: rgb(97, 210, 180);
}
.form-group{
	text-align: center;
	height: 25px;
}
.imageCell {
	display:block; 
	width: 55%; 
	height:75%;
	vertical-align: bottom;
}
img {
	width: 100%;
	display: block;
}
.footer {

}