.jumbotron {
    text-align: center;
    font-family: "helvetica";
    color: black;
}
table{
	width:200px%
}
body {
	background-color: rgba(0, 0, 0, 0.5);
}
table{
	background-color: white;
}
.container {
	background-color: white;
}